@model SMS_3.Models.Contracts.StudentReports
@{
    ViewBag.Title = "StudentReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StudentReports</h2>

<p>
    @using (Html.BeginForm("StudentReports", "students", FormMethod.Get))
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Course Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Course", new SelectList(ViewBag.Courses), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Student Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Student", new SelectList(ViewBag.Students), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
</p>



